/* assets/css/confirmacao.css */
body {
    background-color: #E4E4E4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.caixa-confirmacao {
    background-color: #8E8CA3;
    width: 85%;
    padding: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.icone-sucesso {
    font-size: 50px;
    margin-bottom: 15px;
}
.texto-confirmacao {
    font-size: 18px;
    margin-bottom: 20px;
}
.botao {
    background-color: #A9C2C9;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

/* Modo Escuro */
.dark-theme {
    background-color: #222;
    color: #ddd;
}
.dark-theme .caixa-confirmacao {
    background-color: #333;
    color: #ddd;
}
.dark-theme .botao {
    background-color: #555;
    color: #fff;
}

body, .caixa-confirmacao, .botao {
    transition: background-color 0.3s, color 0.3s;
}
