/* assets/css/confirmacao.css */
body {
    background-color: #E4E4E4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.caixa-confirmacao {
    background-color: #8E8CA3;
    width: 85%;
    padding: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.icone-sucesso {
    font-size: 50px;
    margin-bottom: 15px;
}
.texto-confirmacao {
    font-size: 18px;
    margin-bottom: 20px;
}
.botao {
    background-color: #A9C2C9;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

/* Modo Escuro */
.dark-theme {
    background-color: #171d2e;
    color: #edf2ff;
}
.dark-theme .caixa-confirmacao {
    background-color: #2d3345;
    color: #edf2ff;
    border: 1px solid #404d69;
}
.dark-theme .botao {
    background-color: #b9c7d9;
    color: #1d2433;
}

body, .caixa-confirmacao, .botao {
    transition: background-color 0.3s, color 0.3s;
}
