/* assets/css/conta.css */
body {
    background-color: #E4E4E4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho {
    background-color: #72577C;
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}
.foto-perfil {
    width: 80px;
    height: 80px;
    background-color: #A9C2C9;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.foto-perfil-icon {
    width: 46px;
    height: 46px;
    stroke: #333333;
    stroke-width: 1.5;
}
.campo-info {
    background-color: #8E8CA3;
    width: 85%;
    margin-top: 5px;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.botao {
    background-color: #A9C2C9;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}
label {
    width: 85%;
    margin-top: 15px;
    font-size: 14px;
    color: #333333;
}
