/* assets/css/historico.css */
body {
    background-color: #E4E4E4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho {
    background-color: #72577C;
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}
.card-historico {
    background-color: #8E8CA3;
    width: 85%;
    margin-top: 15px;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
}
.titulo-servico {
    font-weight: bold;
    margin-bottom: 5px;
}
.data-servico {
    font-size: 12px;
    margin-bottom: 10px;
}
.status {
    background-color: #A9C2C9;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #FFFFFF;
}

/* Modo Escuro */
.dark-theme {
    background-color: #171d2e;
    color: #edf2ff;
}
.dark-theme .cabecalho {
    background-color: #2b2440;
}
.dark-theme .card-historico {
    background-color: #2d3345;
    color: #edf2ff;
    border: 1px solid #404d69;
}
.dark-theme .status {
    background-color: #b9c7d9;
    color: #1d2433;
}

body, .cabecalho, .card-historico {
    transition: background-color 0.3s, color 0.3s;
}
